<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <button id="refresh" value="refreshPage" onClick="window.location.reload()">Refresh</button>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="todoIdReset"
            id="todoId"
            type="text"
            ng-model="search.id"
            placeholder="Filter by Id"
            (input)="searchById($event.target.value); ">
        </mat-form-field>
        <button (click)="clearFilteredTodo()">Clear the todo</button>

        <mat-accordion *ngIf="filteredTodo">
          <mat-expansion-panel #elem [id]="filteredTodo.owner">
            <mat-expansion-panel-header>
              <mat-panel-title matTooltip="Click here for more info">{{filteredTodo.body}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Owned by {{filteredTodo.owner}};</mat-panel-description>
            <mat-panel-description *ngIf="filteredTodo.status">the status is complete;</mat-panel-description>
            <mat-panel-description *ngIf="!filteredTodo.status">the status is incomplete;</mat-panel-description>
            <mat-panel-description>the content is: "{{filteredTodo.body}}";</mat-panel-description>
            <mat-panel-description>it is in {{filteredTodo.category}}.</mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="todoOwnerReset"
            id="todoOwner"
            type="text"
            placeholder="Filter by owner"
            (input)="updateOwner($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filter by status</mat-label>
          <mat-select id="todoStatus" [(ngModel)]="todoStatusReset" (selectionChange)="updateStatus($event.value)" >
            <mat-option id="complete" value="complete">Complete</mat-option>
            <mat-option id="incomplete" value="incomplete">Incomplete</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="todoBodyReset"
            id="todoBody"
            type="text"
            placeholder="Filter by body"
            (input)="updateBody($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="todoCategoryReset"
            id="todoCategory"
            type="text"
            placeholder="Filter by category"
            (input)="updateCategory($event.target.value)">
        </mat-form-field>
        <button (click)="showAllTodos()">Show all todos</button>
        <button (click)="clearFilteredTodos()">Clear all todos</button>

        <mat-accordion *ngIf="todos; else todosError">
          <mat-expansion-panel #elem [id]="todo.owner" *ngFor="let todo of this.filteredTodos">
            <mat-expansion-panel-header>
              <mat-panel-title matTooltip="Click here for more info">{{todo.body}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Owned by {{todo.owner}};</mat-panel-description>
            <mat-panel-description *ngIf="todo.status">the status is complete;</mat-panel-description>
            <mat-panel-description *ngIf="!todo.status">the status is incomplete;</mat-panel-description>
            <mat-panel-description>the content is: "{{todo.body}}";</mat-panel-description>
            <mat-panel-description>it is in {{todo.category}}.</mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
